.main-div{
    text-align: center;
}
.content-div{
    /* background-color: #282c34; */
    height: 60vh;
    width: 40vw;
    display: inline-block;
    margin-top: 5vh;
    text-align: center;
    
}
.logo{
    height: 20vh;
    animation: logo-spin infinite 20s linear;
}
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }